@page "/api/TipoInmuebles"
@using BlazorCRUD.Shared
@inject HttpClient Http
@inject ITipoInmuebleServices TipoInmuebleServices

<PageTitle>Tipos de Inmuebles</PageTitle>

<h3>TiposImuebles</h3>

<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>Descripcion</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

@code {

}
